{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_picker %}
    <a class="add_item_link" href="#" onClick='addItemEntityForm("{{ form.items.vars.attr.id }}")'>Ajouter un item</a>
    <ul class="entityItems" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
    </ul>
{% endblock form_picker %}

{% block form_query %}
    {{form_row(form.query)}}
{% endblock form_query %}

{% block form_static %}
    <a href="#" class="add_item_link" onClick='addItemStaticForm();'>Ajouter un item</a>
    <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
        {{form_row(form.items)}}
    </ul>
{% endblock form_static %}

{% block form %}
    <ul id="{{form.items.vars.attr.id}}-listing"></ul>
    {{ parent() }}
{% endblock form %}
