{% block body %}

{#
_________
__  ____/____________ __________ ________________________
_  /    _  __ \_  __ `__ \_  __ `__ \  __ \_  __ \_  ___/
/ /___  / /_/ /  / / / / /  / / / / / /_/ /  / / /(__  )
\____/  \____//_/ /_/ /_//_/ /_/ /_/\____//_/ /_//____/


#}
<div class="edit-widget">
{% block form %}
<form class="ajax" update="widget-{{id}}" method="POST" action="{{path('victoire_cms_widget_edit', {'id':id, 'type':entity, 'page': pageId} )}}">
{#Booya ! Replace this default rendering by your own form#}

    {% if form.items.vars.attr.id != 'static' %}
      {{form_row(form.fields)}}
        {{ block('form_widget') }}
            {{ form_widget(form.items.vars.prototype.entity)|raw }}
        <ul id="{{form.items.vars.attr.id}}-list">
            {% for item in form.items %}
                {% include "VictoireListBundle:Commons:Widget/list/showItem.html.twig" with {'item': item.vars.data, 'entity_name': form.items.vars.attr.id, 'entity_id': item.vars.data.entity.id, 'entity': item.vars.data} %}
            {% endfor %}
        </ul>
    {% else %}
    <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
        {{form_row(form.items)}}
    </ul>
    {% endif %}
    {% do form.items.setRendered %}
{{form_row(form)}}
{{form_rest(form)}}
{% block submit %}
<input class="btn btn-success" type="submit" value="{{ 'ok'|trans|desc('Ok') }}" />
<a class="btn" class="cancel" onclick="cancelWidgetEdition({{id}}, '{{path('victoire_cms_widget_show', {'id':id} )}}');">{{ 'cancel'|trans|desc('Annuler') }}</a>
{% endblock submit %}
</form>
{% endblock form %}

</div>
{% endblock body %}
