
{% if preview_mode is defined and preview_mode %}
    <li data-entity-name="{{entity_name}}" data-id="{{entity_id}}" data-entity="{{entity}}">
{% else %}
    <li>
{% endif %}

        {{item.title}}: {{item.description}}

    {% if preview_mode is defined and preview_mode %}
        <a href="#" class="remove-widget-list-item"><i class="icon-trash">&nbsp;</i></a>
        <input type="hidden" name="appventus_victoirecmsbundle_widgetlisttype[items][{{entity_id}}][entity][{{entity}}]" value="{{entity_id}}"></input>
        <input class="position-field" type="hidden" name="appventus_victoirecmsbundle_widgetlisttype[items][{{entity_id}}][position]" value="0"></input>

    {% endif %}
</li>

