
{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}
<div id="widget-{{slot}}" class="add-widget">
{% block form %}
    <form method="POST" class="add-widget-form add-listing-widget-form" id="{{form.items.vars.attr.id}}" action="{{path('victoire_cms_widget_create', {'page': page.id,'slot':slot, 'type':'listing', 'entity': entity} )}}">
    {#Replace this default rendering by your own form#}

    {% if form.items.vars.attr.id != 'static' %}
      {{form_row(form.fields)}}
        {{ block('form_widget') }}

            {{ form_widget(form.items.vars.prototype.entity)|raw }}
      <ul id="{{form.items.vars.attr.id}}-listing"></ul>
    {% else %}
      <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
      {{form_row(form.items)}}
    </ul>
    {% endif %}

    {{form_rest(form)}}
{% block submit %}
    <input type="submit" value="{{ 'ok'|trans|desc('Ok') }}" />
    <a class="btn" class="cancel" onclick="cancelWidget(this);">{{ 'cancel'|trans|desc('Annuler') }}</a>
{% endblock submit %}
    </form>
{% endblock form %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        {% if form.items.vars.attr.id != 'static' %}
            initListWidgetForm("{{form.items.vars.attr.id}}");
        {% else %}
            initStaticListWidgetForm("{{form.items.vars.attr.id}}");
        {% endif %}
    });
  </script>
{% endblock body %}
